html {
  height: 100%;
  margin: auto;
  background: linear-gradient(#1f3059 0vh, #8b1243 100vh);
}

body {
  font-size: medium;
  font-family: Rockwell;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color:#8b1243;
  width:100%;
  padding:0.5em;
  font-size:x-large;
  text-align: center;
}

nav > a {
  text-decoration: none;
  margin-right:2em;
  position:relative;
  color:black;
}

nav > a:hover {
  color:gray;
}

#navTitle {
  color: white;
  font-weight: bold;
  margin-right:2em;
}

#homeButton {
  color: white;
  background-color: #8b1243;
  background-repeat: no-repeat
}

#historyButton {
	color: white;
	background-color: #8b1243;
	background-repeat: no-repeat;
}

#teamButton{
	color: white;
}

#stadiumButton{
	color: white;
}

.welcome {
  margin: auto;
  float:left;
  position:absolute;
  top:6em;
  width:350px;
  height: 500px;
  padding:10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px
}

.teamWelcome{
  margin: auto;
  position: relative;
  top:6em;
  width:1000px;
  height: 500px;
  padding:10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px

}

.teamWelcome > .titlePage {
  font-size: large;
  font-weight: bold;
}

.welcome > .titlePage {
  font-size: large;
  font-weight: bold;
}


.teamWelcome > .table-right {
  margin-left: 100px;
  position: absolute;
}

.teamWelcome > .table-left {
  margin-left: 600px;
  position: absolute;
}

/* Home */
.content {
  margin:center;
  margin-left:420px;
  margin-right:4em;
  padding:1em;
  position:fixed;
  top:6em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px
}

/* Honours */
.honoursContent{
  
  margin: auto;
  margin-left:500px;
  margin-right:4em;
  padding:1em;
  position:fixed;
  top:6em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;

}

#trophieImage{
  margin-left: 55px

}

.dreamTeam{
  float:left;
  position:fixed;
  top:5em;
  width:1000px;
  height: 500px;
  padding:10px;
}

.sideInfo{
  float:left;
  position:fixed;
  top:5em;
  width:400px;
  height: 500px;
  padding:10px;
  color: white;
  border-radius: 20px

}

.honoursSideInfo{
  float:left;
  position:fixed;
  top:6em;
  width:350px;
  height: 550px;
  padding:10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px

}

/* Stadium */
.stadiumSide{
  float:left;
  position:fixed;
  top:6em;
  width:400px;
  height: 500px;
  padding:10px;
  color: black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);

}

.secondStadiumImage {
  float:left;
  position:fixed;
  top:24em;
  width:400px;
  height: 500px;
  padding:10px;
  color: black;

}

.stadiumContent{
  margin: auto;
  margin-left:500px;
  margin-right:4em;
  padding:1em;
  position:fixed;
  top:6em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px
}


.nextGameTable{
  width: 500px; 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #8b1243;
}



